node_modules
npm-debug.log
.env
.DS_Store
coverage
dist
build
.idea
*.log

.vscode/*
!.vscode/launch.json


# Dados de persistência
compose/persistence/redis/*
compose/persistence/mongodb/*
!compose/persistence/**/.gitignore
